<%-include( "partials/header");-%>

<h1>Contact Us</h1>
<br><br>

<div class="contactme">
    <img class="image" src="/circle-cropped.png" height="300px" width="300px" >
    <br><br>
    <p> <%= contact %> </p>
    <a href="https://mousmi2112.github.io/Webd_Basic_website_HTML-CSS/">My Portfolio</a>
    </div>

<%-include("partials/footer");-%>